@use 'pkg:@brybrant/sass-okhsv-okhsl' as convert;

$primary-darker: convert.color_to_hex(convert.okhsv_to_rgba(205deg, 0.65, 0.5));
$primary-medium: convert.color_to_hex(convert.okhsv_to_rgba(205deg, 0.65, 0.6));
$primary-bright: convert.color_to_hex(convert.okhsv_to_rgba(205deg, 0.65, 0.7));
$secondary-darker: convert.color_to_hex(convert.okhsv_to_rgba(25deg, 0.65, 0.5));
$secondary-medium: convert.color_to_hex(convert.okhsv_to_rgba(25deg, 0.65, 0.6));
$secondary-bright: convert.color_to_hex(convert.okhsv_to_rgba(25deg, 0.65, 0.7));

:export {
  primaryDarker: $primary-darker;
  primaryMedium: $primary-medium;
  primaryBright: $primary-bright;
  secondaryDarker: $secondary-darker;
  secondaryMedium: $secondary-medium;
  secondaryBright: $secondary-bright;
}